<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.straw.portal.mapper.AnswerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.tedu.straw.portal.model.Answer">
        <id column="id" property="id" />
        <result column="content" property="content" />
        <result column="user_id" property="userId" />
        <result column="user_nick_name" property="userNickName" />
        <result column="question_id" property="questionId" />
        <result column="is_accepted" property="isAccepted" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>


    <select id="findById" resultType="cn.tedu.straw.portal.model.Answer">
        select id  from answer where id=#{answerId}
    </select>


    <resultMap id="AnswerVOMap" type="cn.tedu.straw.portal.vo.AnswerVO">
        <id column="id" property="id" />
        <result column="content" property="content" />
        <result column="user_id" property="userId" />
        <result column="user_nick_name" property="userNickName" />
        <result column="is_accepted" property="isAccepted" />
        <result column="gmt_create" property="gmtCreate" />
        <collection property="comments" ofType="cn.tedu.straw.portal.vo.CommentVO">
            <id column="commentId" property="id" />
            <result column="commentContent" property="content" />
            <result column="commentUserId" property="userId" />
            <result column="commentUserNickName" property="userNickName" />
            <result column="commentGmtCreate" property="gmtCreate" />
        </collection>
    </resultMap>

    <select id="findByQuestionId" resultMap="AnswerVOMap">
    SELECT
        answer.id, answer.content,
        answer.user_id, answer.user_nick_name,
        answer.is_accepted, answer.gmt_create,
        comment.id AS commentId, comment.content AS commentContent,
        comment.user_id AS commentUserId, comment.user_nick_name AS commentUserNickName,
        comment.gmt_create AS commentGmtCreate
    FROM
        answer
    LEFT JOIN
        comment
    ON
        answer.id = comment.answer_id
    WHERE
        answer.question_id=#{questionId}
    ORDER BY
        answer.gmt_create DESC, answer.id DESC, comment.gmt_create DESC
</select>
</mapper>
